<footer class="footer mt-auto py-3"> 

  <hr/>

<p class="small text-center text-muted">
  Leah Teichholtz | Last Updated Winter 2020
</p>
  <a href="https://github.com/leahteich" target="_blank"><i class="fab fa-lg fa-github"></i></a> &nbsp; 
  <a href="https://twitter.com/LeahTeichholtz" target="_blank"><i class="fab fa-lg fa-twitter"></i></a> &nbsp; 
  <a href="https://www.linkedin.com/in/leah-teichholtz-461397177/" target="_blank"><i class=" fab fa-lg fa-linkedin"></i></a> 

  <script src="../../scripts/scripts.js"></script>

</footer>
</body>
</html>
