<footer>

<i class=" fab fa-lg fa-github"></i> &nbsp; 
<i class=" fab fa-lg fa-twitter"></i>  &nbsp; 
<i class=" fab fa-lg fa-linkedin"></i>

<p class="small text-center text-muted py-3">
  Leah J. Teichholtz | Last Updated Winter 2020
</p>

  <script src="../../scripts/scripts.js"></script>

</footer>
</body>
</html>
