<footer class="footer mt-auto py-3"> 

  <hr/>

<p class="small text-center foottext">
  Built and Designed by Leah Teichholtz | Last Updated Winter 2020<br><br>
  <a href="https://github.com/leahteich" target="_blank"><i class="foot fab fa-lg fa-github"></i></a> &nbsp;
  <a href="https://twitter.com/LeahTeichholtz" target="_blank"><i class="foot fab fa-lg fa-twitter"></i></a> &nbsp;
  <a href="https://www.linkedin.com/in/leah-teichholtz-461397177/" target="_blank"><i class="foot fab fa-lg fa-linkedin"></i></a> 

</p>
  <script src="../../scripts/scripts.js"></script>

</footer>
</body>
</html>
