<% include partials/header.ejs %>
<h1 class = "py-3"> Let's Connect! </h1>

<section class="indexcontainer text-center container">
    <div class="row">
      <div class="col-lg-8 col-md-8 mx-auto">
        I'd love to chat about inquiries or anything in this website and connect via social media.
        The best way to reach out is by emailing me at <a href="mailto:leahteich@gmail.com">leahteich@gmail.com</a>
        or <a href="mailto:leahteichholtz@college.harvard.edu">leahteichholtz@college.harvard.edu</a>.
      </div>
    </div>

    <div class="container socials py-5">
        <div class="row">
          <div class="col-sm">
            <i class="fab fa-2x fa-twitter"></i><br>
            @LeahTeichholtz
          </div>
          <div class="col-sm">
            <i class="fab fa-2x fa-github"></i><br>
            @LeahTeich
          </div>
          <div class="col-sm">
            <i class="fab fa-2x fa-linkedin"></i><br>
            Leah Teichholtz
          </div>
          <div class="col-sm">
            <i class="fab fa-2x fa-facebook"></i><br>
            Leah Teichholtz
          </div>
          <div class="col-sm">
            <i class="fas fa-2x fa-phone"></i><br>
            Request by email
          </div>
        </div>
      </div>

  
<% include partials/footer.ejs %>