<% include partials/header.ejs %>
<h1 class = "py-3"> Let's Connect! </h1>
<p>
    I can be reached at <a href="mailto:leahteichholtz@college.harvard.edu">leahteichholtz@college.harvard.edu</a> or 
    <a href="mailto:leahteich@gmail.com">leahteich@gmail.com</a> for any inquiries.
</p>
<p class="test">
    <i class="fab fa-lg fa-twitter"></i> @LeahTeichholtz <br>
    <i class="fab fa-lg fa-github"></i> @LeahTeich <br>
    <i class="fab fa-lg fa-linkedin"></i> Leah Teichholtz <br>
    <i class="fab fa-lg fa-facebook"></i> Leah Teichholtz <br>
</p>
<% include partials/footer.ejs %>
