<% include partials/header.ejs %>
<h1> Coursework </h1>

<h5> Spring 2021 </h5>
COMPSCI 51: Abstraction and Design in Computation <br>
<a target="_blank" href="https://lewis.seas.harvard.edu/pages/harvard-computer-science-20-discrete-mathematics-computer-science">COMPSCI 20:</a> Discrete Mathematics for Computer Science <br>
ECON 1010B: Intermediate Macroeconomics <br>
ECON 1052: Game Theory and Economic Applications <br>
<a target="_blank" href="https://writingprogram.fas.harvard.edu/expos-20">EXPOS 20:</a> Freshman Writing Seminar <br>
<br>
<h5> Fall 2020 </h5>
<a target="_blank" href="https://cs50.harvard.edu/college/2020/fall/">COMPSCI 50:</a> Introduction to Computer Science <br>
ECON 10A: Principles of Economics (Microeconomics) <br>
<a target="_blank" href="http://sites.fas.harvard.edu/~math21a/syllabus.html">MATH 21A:</a> Multivariable Calculus <br>
<a target="_blank" href="https://students.artsandhumanities.fas.harvard.edu/human-ethics-brief-history-phil-18">PHIL 18:</a> A History of Human Ethics <br>


<% include partials/footer.ejs %>
