<% include partials/header.ejs %>
<section class="indexcontainer text-center container">
  <div class="row">
    <div class="col-lg-8 col-md-8 mx-auto">
      <img class="py-2 me" alt="Leah Teichholtz headshot" src="images/me.png" height="250px"></img>
      <p> Hello! I'm <b>Leah Teichholtz</b>, a first-year at <a target="_blank" href="https://college.harvard.edu/">Harvard College</a> from New York City. 
        I'm pursuing a concentration in Computer Science with a secondary in Economics.
      </p>
      <br>
      <p>
        I'm also a reporter for the <a target="_blank" href="https://www.thecrimson.com/writer/1216225/Leah_J._Teichholtz/"><i>Harvard Crimson</i></a>, on a project team at <a target="_blank" href="https://www.harvardwics.com/">WiCS</a>, and an associate at <a target="_blank" href="https://harvardsmartwoman.org/home">Smart Woman Securities</a>. 
        My interests include entrepreneurship, journalism and creative writing, education, and environmentalism. 
      </p>
      <p> 
        I hope that this website can help you learn more about me and my projects. Please feel free to <a href="/contact">reach out</a> if you have any questions or would like to learn more!
      </p>
    </div>
  </div>
</section>
<br>
<div class="album py-3 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <div class="card-body">
            <p class="card-text"> RESUME </p>
            <p class="card-text"> more on my education, experience, and skills  </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <div class="card-body">
            <p class="card-text"> PROJECTS </p>
            <p class="card-text"> things i've worked on and what keeps me busy </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <div class="card-body">
            <p class="card-text"> WRITING </p>
            <p class="card-text"> snippets of my journalistic and creative endeavours  </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% include partials/footer.ejs %>
