<% include partials/header.ejs %>
<section class="indexcontainer text-center container">
  <div class="row">
    <div class = "my-auto col-sm">
      <img class="me" alt="Leah Teichholtz profile image" src="images/me.jpg" height="300px"></img>
    </div>

    <div class = "my-auto col-sm">
      <h6> Hello! I'm </h6>
      <h1> Leah Teichholtz </h1>
      I'm a freshman studying at Harvard College, though I'm originally from New York. I'm concentrating in Computer Science with a secondary in Economics.
    </div>
    <div class="col-sm my-auto">
      <p> 
        Outside of school, I'm a beat reporter for the <a target="_blank" href="https://www.thecrimson.com/writer/1216225/Leah_J._Teichholtz/"><i>Harvard Crimson</i></a>, on a project team for <a target="_blank" href="https://www.harvardwics.com/">WiCS</a>, and an associate at <a target="_blank" href="https://harvardsmartwoman.org/home">Smart Woman Securities</a>. 
        My interests include entrepreneurship, journalism and creative writing, education, and environmentalism.
      </p>
    </div>
  </div>
</section>
<div class="front container">
    <div class="row">
      <div class="col">
        <div class="card links rounded-0">
          <div class="card-body">
            <p class="card-header"> RESUME </p>
            <p class="card-text"> more on my education, experience, and skills  </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card links rounded-0">
          <div class="card-body">
            <p class="card-header"> PROJECTS </p>
            <p class="card-text"> things i've worked on and what keeps me busy </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card links rounded-0">
          <div class="card-body">
            <p class="card-header"> WRITING </p>
            <p class="card-text"> snippets of my journalistic and creative endeavours  </p>
          </div>
        </div>
      </div>
    </div>
  </div>

<% include partials/footer.ejs %>
