<% include partials/header.ejs %>
<h1> Projects</h1>
<div class="row">
    <div class="col">
    <h5 class="py-4 aligned-left"> The Percentage Project </h5>
    <ul>
        <li>On team of four students sharing stories of marginalized groups in CS and STEM through journalism, photography, and data visualization</li>
        <li>Conducts weekly interviews with students, participates in weekly
            meetings with Harvard branch of<a target="_blank" href="https://percentageproject.com/#/"> nationwide organization</a> </li>
        <li>Coding website and creating visualization using React, D3, Scrollama</li>
    </ul>
    </div>
    <div class="col my-auto text-right">
        <h5 class="py-4"> <img width="350px"src="images/percent.png"> </h5>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col">
    <h5 class="py-4 aligned-left"> H-Buddy </h5>
    <ul>
        <li>A Harvard CS50 final project that helps students at any school find truly compatible problem set partners</li>
        <li>Born of real need to help students like ourselves, tested and in MVP stage </li>
    </ul>
    </div>
    <div class="col my-auto">
        <h5 class="py-4 text-right"> <iframe width="350px" height="200px"
            src="https://www.youtube.com/embed/d8YMOK53jLs">
            </iframe>
             </h5>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col">
    <h5 class="py-4 aligned-left"> SmartDesk </h5>
    <ul>
        <li>Worked with three other students to ideate and prototype product called SmartDesk to help students in underfunded public school classrooms</li>
        <li> Selected from hundreds of teams as finalist, invited to Summit in Florida </li>
    </ul>
    </div>
    <div class="col my-auto">
        <h5 class="py-4 text-right"> <iframe width="350px" height="200px"
            src="https://www.youtube.com/embed/aAv_6kgLWKc">
            </iframe>
             </h5>
    </div>
</div>



<% include partials/footer.ejs %>
