<% include partials/header.ejs %>
<h1>Resume</h1>
<p><a href="/pdf">Click here</a> for a PDF version</p>
<hr/>
<h5 class="aligned-left"> Work & Volunteer Experience </h5>
<p class="aligned-left"> 
    <div class="row">
        <div class="col aligned-left">
            Race and Diversity Reporter for the <a target="_blank" href="https://www.thecrimson.com/"><i>Harvard Crimson</i></a> <br>
        </div>
        <div class="text-right col">
            <span class="badge badge-pill badge-info">Sept. 2020 - Current</span>
        </div>
    </div>
    <ul>
        <li>Staff writer for Harvard's premier daily newspaper</li>
        <li>Writes weekly articles and features on breaking news and events</li>
    </ul>
</p>
<p class="aligned-left"> 
    <div class="row">
        <div class="col aligned-left">
            Middle School and High School Tutor <br> 
        </div>
        <div class="text-right col">
        <span class="badge badge-pill badge-info">Feb. 2020 - Current</span>
        </div>
    </div>
    <ul>
        <li>Prepares students in grades 7-11 to take SSAT/ISEE/SAT/ACT standardized tests and succeed in math and English classes</li>
        <li>Has designed personalized lesson plans and homework assignments for each of 6 students over past year, proctors practice exams</li>
        <li>Volunteered as tutor for middle school students at DeHostos Community Center in English throughout high school, helped these students succeed on state tests</li>
    </ul>
</p>
<p class="aligned-left"> 
    <div class="row">
        <div class="col aligned-left">
            Summer Research Intern at <a target="_blank" href="https://johnstonlab.fas.harvard.edu/">Johnston Lab</a> <br> 
        </div>
        <div class="text-right col">
        <span class="badge badge-pill badge-info">Jul. 2020 - Aug. 2020</span>
        </div>
    </div>
    <ul>
        <li>Tabulated ocean sediment data from over 100 papers for a new model of ocean chemistry</li>
        <li>Attended weekly meetings and journal clubs with the Johnston Lab</li>
        <li>Used graph digitization software to extract data and Excel to perform calculations and store information</li>
    </ul>
</p>
<p class="aligned-left"> 
    <div class="row">
        <div class="col aligned-left">
            Summer Intern at <a target="_blank" href="https://www.tradeweb.com/">Tradeweb Markets</a> <br> 
        </div>
        <div class="text-right col">
        <span class="badge badge-pill badge-info">Jun. 2018 - Aug. 2018</span>
        </div>
    </div>
    <ul>
        <li>Worked to programmatically calculate accurate bond day counts under a number of standards using Python</li>
        <li>Translated code from C++ to Python for higher speeds and compatibility with modern systems</li>
        <li>Attended and presented work at weekly meetings with members of the Calculations team</li>
    </ul>
</p>
<hr/>

<h5 class="aligned-left"> Education </h5>
<div class="row">
    <div class="col aligned-left">
        <p class="aligned-left"><a target="_blank" href="https://college.harvard.edu/">Harvard College</a>, A.B.  
        </div>
    <div class="text-right col">
    <span class="badge badge-pill badge-info">Class of 2024</span>
    </div>
</div>
    <ul>
        <li>GPA: 4.0</li>
        <li>Majoring in Computer Science with a minor in Economics -- <a href="/courses">View Coursework </a> </li>
        <li> <strong>Activities and Societies:</strong> Harvard Crimson staff writer, Women in Computer Science, Smart Woman Securities Associate
    </ul>
</p>
    <div class="row">
        <div class="col aligned-left">
            <p class="aligned-left"> <a target="_blank" href="https://www.trinityschoolnyc.org">Trinity School</a>, High School
            </div>
        <div class="text-right col">
        <span class="badge badge-pill badge-info">Class of 2020</span>
        </div>
    </div>
    <ul>
        <li> <strong>Activities and Societies:</strong> <i> Cum laude</i> Society, Newspaper editor-in-chief, Robotics Captain, Girls Who Code Club President, Computer Science Club Founder/President, Yearbook Senior Editor, Arts Magazine Editor, Concert Orchestra violinist
        <li>APs: Computer Science A (5), Calculus BC (5), Spanish Language (5)</li>
    </ul>
</p>
<hr/>

<h5 class="aligned-left"> Skills, Proficiencies, and Interests </h5>
<ul>
    <li> Programming: Javascript (Node.js, p5.js), Python (numpy, Flask), SQL, HTML/CSS  </li>
    <li> Tools and Frameworks: MVC, RESTful APIs, Bootstrap </li>
    <li> Software: Adobe InDesign, AutoCAD, Excel, git </li>
    <li> Proficient in Spanish </li>
    <li> Interests: Big time reader and New York Times crossword puzzle solver, fascinated by game theory, and hoping to learn more about design and photography. </li>
</ul>
<hr/>

<h5 class="aligned-left"> Awards & Honors </h5>
<ul>
    <li><a target="_blank" href="https://www.google.com/search?q=national+merit+scholarship+finalists&rlz=1C5CHFA_enUS886US886&oq=national+merit+scholarship+finalists&aqs=chrome..69i57j0i457j0l6.3240j0j4&sourceid=chrome&ie=UTF-8">National Merit Scholarship</a> Finalist </li>
    <li><a href="https://www.conradchallenge.org/19-summit-finalist-teams" target="_blank">International CONRAD Sprit of Innovation</a> Finalist</li>
    <li> Trinity School awards in Computer Science, Excellence in Science, and Writing </li>
    <li><a href="https://apstudents.collegeboard.org/awards-recognitions/ap-scholar-award">AP Scholar</a></li>
</ul>

<% include partials/footer.ejs %>
