<% include partials/header.ejs %>
<h1> Writing</h1>
<div class="row"> 
    <div class="col">
       <h5> Journalism </h5>
       <ul>
           <li> The Harvard Crimson </li>
            <ul>
                <li> Freshmen Fret Over Pandemic Blocking Groups</li>
                <li> Profile of Harvard Undergraduate Council Presidential Candidates Noah and Jenny  </li>
                <li> Ibram X. Kendi Event  </li>
            </ul>
            <li> The Trinity Times </li>
            <ul>
                <li> School Shuts Due to COVID </li>
                <li> Students walk out to protest for gun control  </li>
                    <ul>
                        <li> Scholastic Gold Key Recipient
                    </ul>
                <li> Free Muffins Reveal Socioeconomic Inequities  </li>
            </ul>
       </ul>
    </div>
    <div class="col">
       <h5> Creative Essays </h5>
       <ul> 
           <li>How to Jaywalk: A Comprehensive Guide</li>
           <ul>
               <li> Published in Brooklyn Library Teen Writing of Year </li>
               <li> Scholastic Gold Key Recipient </li>
           </ul>  
           <li> Goodnight Moon -- Environmentalism </li>
           <li> 
        </ul> 
    </div>


</div>
<% include partials/footer.ejs %>
