.nav-link
{
  color: white !important;
  border-bottom: 2px solid #7198bd;
  }
  
.nav-menu:hover, a.active
{
  color: #343563 !important;
  border-bottom: 2px solid #343563
}

.textcontent
{
  width: 50%;
  text-align: left;
}

.navbar-brand:hover
{
  font-family: 'Montserrat';
  color: #343563 !important;
}

.navbar-brand 
{
  font-family: 'Montserrat';
}
.rounded
{
  border-radius: 35% !important;
}


nav.navbar
{
  overflow: hidden;
  font-size: 14px;
  background-color: #7198bd;
  padding-top: 20px;
  padding-bottom:15px;
}

main
{
  /* Scroll horizontally as needed */
  overflow-x: auto;

  /* Center contents */
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #343563;
}

.footer
{
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  background-color:white
}

.front
{
  margin-top: 80px
}

#contact
{
  background-color: white;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  color: #343563 !important
}

#contact:hover
{
  background-color:  #4e6087;
  color: white !important
}

.foot, .foottext
{
  color: #7198bd 

}

h1, a
{
  color: #a178ab
}

h1 
{
  font-weight: 10px;
  font-style: bold;
}

a:hover
{
  color: #81608a;
}

.foot:hover
{
  color:#add8ff
}

.me
{
  margin-bottom:30px;
  box-shadow:-20px 20px 0px #ddc3e3
}

.links:hover
{
  box-shadow:-10px 10px 0px #ddc3e3 !important;
  color: grey !important;
}


.links 
{
  border-width: 0px;
}

body 
{
  font-size: 16px
}

.icons 
{
  font-size: 20px;
}

.cont 
{
  color: #343563;
}
.col-sm
{
  text-align: center;
}

.card-header
{
  margin: auto;
  padding-bottom: 0px;
  background-color: transparent;
  font-size: 20px;
  border-width: 0px
}

.card-text
{
  padding-top: 10px;
  font-style: italic;
}

.card, .socials
{
  color: #343563;
}

a {
  text-decoration: none !important;
}